[Unit]
Description=LTSM connector
After=network.target
#ltsm_service.service

[Service]
Type=simple
ExecStart=-/usr/local/sbin/ltsm_connector --type auto
User=ltsm-xvfb
Group=ltsm-auth
StandardInput=socket
StandardOutput=socket
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
