[Unit]
Description=LTSM connector
After=network.target ltsm_service.service

[Service]
Type=simple
ExecStart=-/usr/local/sbin/ltsm_connector --type vnc
User=ltsm-xvfb
Group=ltsm-auth
StandardInput=socket
StandardOutput=socket

[Install]
WantedBy=multi-user.target
